<% include partials/header %>
<link rel="stylesheet" href="/css/results-style.css" type="text/css">

<div class="row heading">
  <div class="col-lg-9 search-results">
    <!-- <h3>Search Results</h3> -->
    <h3>Movie <span>Tracer</span></h3>
  </div>
  <div class="col-lg-3 search-again">
    <i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a>
  </div>
</div>

<div class="row">
  <% if ( data["Response"] === "False" ) { %>
    <div class="jumbotron">
      <h2>Aww, snap...
        <br>No movie found!
        <br>Try searching for another term
      </h2>
      <button class="btn btn-primary btn-lg search-btn">
        <i class="fa fa-search" aria-hidden="true"></i> <a href="/#discover">Search Again</a>
      </button>
    </div>
  <% } else { %>
    <% data["Search"].forEach(function(value, index) { %>
      <div class="movie col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="<%= value["Poster"] %>" alt="movie poster">
        </div>
        <div class="title">
          <form action="/movie" method="GET">
            <!-- <input type="hidden" name="title" value="<%= value["Title"] %>"> -->
            <button type="submit" name="title" value="<%= value["Title"] %>" class="btn btn-link"><%= value["Title"] %></button>
          </form>
          <!-- <%= value["Title"] %> -->
        </div>
        <div class="year">
          <%= value["Year"] %>
        </div>
      </div>
    <% }); %>
  <% } %>


</div>
<!-- end of row -->

<% include partials/footer %>
