<% include partials/header %>
<link rel="stylesheet" href="/results-style.css" type="text/css">

<h2>Search Results</h2>
<a href="/">Search again!</a>

<div class="row">
  <% data["Search"].forEach(function(value, index) { %>
    <div class="movie col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="<%= value["Poster"] %>" alt="movie poster">
      </div>
      <div class="title">
        <form action="/movie" method="GET">
          <!-- <input type="hidden" name="title" value="<%= value["Title"] %>"> -->
          <button type="submit" name="title" value="<%= value["Title"] %>" ><%= value["Title"] %></button>
        </form>
        <!-- <%= value["Title"] %> -->
      </div>
      <div class="year">
        <%= value["Year"] %>
      </div>
    </div>
  <% }); %>
</div>
<!-- end of row -->

<!--
<% data["Search"].forEach(function(value, index) { %>
  <img src="<%= value["Poster"] %>" alt="movie poster">
  <ul>
    <li><%= value["Title"] %></li>
    <li><%= value["Year"] %></li>
  </ul>
<% }); %>
-->


<% include partials/footer %>
