<% include partials/header %>
<link rel="stylesheet" href="/search-style.css" type="text/css">

<div class="heading">
  <h1><i class="fa fa-film" aria-hidden="true"></i> The Movie Gallery</h1>
</div>

<div class="content">
  <h2>Discover Great Movies</h2>

  <form action="/results" method="GET">
    <div class="input-group">
      <input type="text" placeholder="search term" name="search" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Go!</button>
      </span>
    </div>  <!-- /input-group -->
  </form>
</div>

<div>Opening this week
  <% homeData["openingThisWeek"].forEach(function(value, index) { %>
    <div class="movie col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="<%= value["Poster"] %>" alt="movie poster">
      </div>
      <div class="title">
        <form action="/movie" method="GET">
          <!-- <input type="hidden" name="title" value="<%= value["title"] %>"> -->
          <button type="submit" name="title" value="<%= value["title"] %>" class="btn btn-default"><%= value["title"] %></button>
        </form>
        <!-- <%= value["title"] %> -->
      </div>
      <div class="date">
        <%= value["date"] %>
      </div>
    </div>
  <% }); %>
</div>

<div>Box Office
  <% homeData["boxOffice"].forEach(function(value, index) { %>
    <div class="movie col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="<%= value["Poster"] %>" alt="movie poster">
      </div>
      <div class="title">
        <form action="/movie" method="GET">
          <!-- <input type="hidden" name="title" value="<%= value["title"] %>"> -->
          <button type="submit" name="title" value="<%= value["title"] %>" class="btn btn-default"><%= value["title"] %></button>
        </form>
        <!-- <%= value["title"] %> -->
      </div>
      <div class="gross">
        <%= value["gross"] %>
      </div>
    </div>
  <% }); %>
</div>

<div>Coming Soon
  <% homeData["comingSoon"].forEach(function(value, index) { %>
    <div class="movie col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="<%= value["Poster"] %>" alt="movie poster">
      </div>
      <div class="title">
        <form action="/movie" method="GET">
          <!-- <input type="hidden" name="title" value="<%= value["title"] %>"> -->
          <button type="submit" name="title" value="<%= value["title"] %>" class="btn btn-default"><%= value["title"] %></button>
        </form>
        <!-- <%= value["title"] %> -->
      </div>
      <div class="gross">
        <%= value["gross"] %>
      </div>
    </div>
  <% }); %>
</div>

<% include partials/footer %>
